/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

.home-callout, .navbar { // Used for the gradient on both navbar and main callout
  // Gradient provided by : @_ighosh at uiGradients.com
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #FD746C, #2C3E50);
  background: -moz-linear-gradient(left, #FD746C, #2C3E50);
  background: -o-linear-gradient(left, #FD746C, #2C3E50);
  background: linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Navbar styles

.navbar {
  border: none;
}

//Navbar Collapsed (Happens at a width of 768px)
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus{
    background-color: #2C3E50;
  }
}

// Used for the 'Brand' button AKA devmatch on navbar
.navbar-default .navbar-brand { 
  color: white;
  filter: blur(0.3px);
  transition: 0.3s;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  &:hover {
    color: white;
    opacity: 0.75;
    font-size: 20px;
  }
}

// About button styles
.navbar-default .navbar-nav > li > a { 
  color: white;
  filter: blur(0.3px);
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.75;
    font-size: 16px;
  }
}

// This code makes sure the about button takes up its intended space within the
// Collapsed navbar menu
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    width: fit-content;
  }
}

// Main home page callout, 'Welcome to DevMatch' h1 as well as the h3 below.
.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
  filter:blur(0.3px)
}